/*yleiset tyylit*/
body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1,6;
    margin: 44px ;
    padding: 26px;
    background: linear-gradient(to right, #81bbaa, #666866);
    color: #3a2c2c;
}
/* otsikkoalue */
header {
    background-color: #385854;
    color: #fff;
    padding: 20px;
    text-align: auto;
}
/* navigaatio */
nav {
    text-align: auto;
    margin: 20px 0;
}
nav a {
    text-decoration: none;
    color: #4c0ddf;
    margin-top: 0 10px;
    font-weight: bold;
}

/* sisältöosat */
section{
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px;


}
/* yhteystiedot */
footer {
    text-align: auto;
    margin: 20px 0;
    font-size: 0.9em;

}
@media (max-width: 768px) {
  body {
    padding: 1rem;
    font-size: 16px;
  }

  header {
    text-align: center;
  }

  .content {
    max-width: 100%;
    padding: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
h3 {
    color: #080708;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 10px;
}
section {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}