/*yleiset tyylit*/
body {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1,6;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #3a2c2c;
}
/* otsikkoalue */
header {
    background-color: #700e0e;
    color: #fff;
    padding: 20px;
    text-align: auto;
}
/* navigaatio */
nav {
    text-align: auto;
    margin: 20px 0;
}
nav a {
    text-decoration: none;
    color: #4c0ddf;
    margin-top: 0 10px;
    font-weight: bold;
}

/* sisältöosat */
section{
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px;


}
/* yhteystiedot */
footer {
    text-align: auto;
    margin: 20px 0;
    font-size: 0.9em;

}